
/**********
 Typography
 **********/

 body{
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: hsl(185, 41%, 84%);
 }

 h1{
    color: hsl(183, 100%, 15%);
 }



/********
Attribution
**********/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }